<h1>ART BATTLE</h1>

<p>An artistic session where one player paints<br />
   another player starting at 100 until 0. </p>
<p>The artist that loses all their paint<br />
   points first loses the session.

<form action="/names" method="post">
  <input type="text" name="player_1_name">
  <input type="text" name="player_2_name">
  <input type="submit" value="Start Session">
</form>
